#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;
  width: auto;

  aside {
    background: #835afd;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;

    padding: 10% 6%;

    img {
      max-width: 70%;
    }

    strong {
      font: 700 36px "Poppins", sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
      color: #f8f8f8;
    }
  }

  main {
    padding: 0 4%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10%;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
    }

    h2 {
      font-size: 24px;
      margin: 6% 0 2.4%;
      font-family: "Poppins", sans-serif;
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: #fff;
        border: 1px solid #a8a8b3;
      }

      button {
        margin-top: 16px;
      }

      button,
      input {
        width: 100%;
      }
    }

    p {
      font-size: 14px;
      color: #737380;
      margin-top: 16px;

      a {
        color: #e559f9;
      }
    }
  }

  .create-room {
    margin-top: 12%;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #ea4335;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 14px;
    color: #a8a8b3;

    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-right: 16px;
    }

    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-left: 16px;
    }
  }
}

@media (max-width: 720px) {
  html {
    font-size: "80.5%";
  }

  #page-auth {
    display: flex;
    flex-direction: column;
    aside {
      width: 100%;
      align-items: center;
      img {
        max-width: 50%;
      }
    }
    > main {
      width: 100%;
      align-items: center;
    }
  }
}
